body {
    font-family: 'Roboto', sans-serif;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.nav-item {
    padding-left : 10px;
    padding-right : 10px
}
.nav-link {
    font-size : 18px
}
.navbar-brand {
    font-size: 22px;
}
.toggle-top {
	border-top : 2px solid #0a0a4d;
	width : 25px;
	height : 0;
	top : 0;
	position : absolute;
}
.toggle-mid {
	border-top : 2px solid #0a0a4d;
	width : 25px;
	height : 0;
	top : 45%;
	transform-origin : center center;
	position : absolute;
}
.toggle-bottom {
	border-top : 2px solid #0a0a4d;
	width : 25px;
	height : 0;
	position: absolute;
	bottom : 0;
}
.toggle-cover {
	position : relative;
	height : 20px;
	width : 25px;
}
.navbar-light .navbar-toggler{
	border : none
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    #logo-top {
        margin-left: 150px;
    }
}
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  @media (min-width: 1025px) and (max-width: 1280px) {
    #logo-top {
        margin-left: 150px;
    }
}
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  @media (min-width: 768px) and (max-width: 1024px) {
    #logo-top {
        margin-left: 0px;
    }
}
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #logo-top {
        margin-left: 150px;
    }
}
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  @media (min-width: 481px) and (max-width: 767px) {
    #logo-top {
        margin-left: 0px;
    }
}
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  @media (min-width: 320px) and (max-width: 480px) {
    #logo-top {
        margin-left: 0px;
    }
}